{% extends "layout.html" %}

{% block content %}
  <!--<h1> this is gonna get hidden by the dick navbar</h1>-->
  <h3>{{page.title}}<small> (<a href="{{page.route}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="/users/{{user.id}}">{{user.name}}</a></h4>
  <div> tags:
    <ul class="list-inline">
    {% for tag in page.tags %}
      <li><a href="/users/{{author.id}}">{{tag}}</a></li>
    {% endfor %}
    <!-- PLACEHOLDER LIST OF PAGES -->
  </ul>
  </div>
  <hr/>
  <!--<div>PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE</div>-->
  <div class="page-body">{{page.content}}</div>
  <hr/>
  <a href="{{page.route}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{page.route}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}